:root {
  --navy: #002d50;
  --brown: #6b4f3b;
  --dark-brown: #54331f;
  --vanilla: #faf8f5;
  --sand: #f5e4d0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--vanilla);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.container {
  background-color: var(--vanilla);
  margin: 0 auto;
  padding: 2rem;
}

/* Typography */
h1 {
  font-size: 2rem;
  color: var(--brown);
  margin-bottom: 0.5rem;
}

p {
  color: var(--brown);
  max-width: 600px;
  margin: 0 auto;
}

/* Components */
.booking-box {
  background: white;
  border: 1px solid var(--sand);
  border-radius: 8px;
  padding: 2rem;
  margin-top: 2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

/* Inputs */
.input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--sand);
  border-radius: 6px;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

/* Buttons */
.btn {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}
.book {
  width: 100%;
  background-color: var(--brown);
  color: white;
}
.book:hover {
  background-color: var(--dark-brown);
}
.outline {
  border: 1px solid var(--sand);
  background-color: white;
}
.outline:hover {
  background-color: seashell;
}

/* Time grid */
.times-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

/* Booking summary */
.summary {
  background-color: var(--sand);
  padding: 1rem;
  border-radius: 6px;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

#navbar-placeholder,
#footer-placeholder {
  background-color: transparent !important;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}